body {
    padding: 10px;
}

a:hover{
    background-color: rgb(229, 229, 229);
    color: black;
    text-decoration: none;
}

img{
    height: 400px;
}

.item_container{
    display: flex;
    flex-wrap: wrap;
}

.item_container > div{
    width: 250px ;
    height: 300px;
    border-radius: 15px;
    border: 1px;
    border-style: outset;
    margin: 0px 10px 0px 10px;
    padding: 10px 10px;
}

.item_container > div > a {
    color: black;
    text-align: center;
    }   
.tpm{
    height: 110px;
}
.child{
    position: absolute;
    top: 50%;
    left: 50%;
}

#equal{
    height: 230px;
}


.index_img{
    width: 125px;
    margin: auto;
    display: block;
    height: 125px;
}

#item_img{
    width: 225px;
}


.title{
    color: black;
    font-weight: 600;
    font-size: 24px;
    text-align: center;
}

.price{
    background: rgba(217, 217, 217, .4);
    padding: 4px;
    border-radius: 5px;
}

/* ITEM VIEW */

.sepereter{
    display: flex;
    flex-wrap: wrap;
}

.itm_img{
    width: auto;
    float: left;
    padding-right: 25px;
    display: block;
}

.itm_img img{
    display: flex;
}

.itm_cont{
    float: right;
    height: 400px;
    padding-left: 75px ;
    width: ;
}

.itm_cont > div > div {
    margin: 8px auto;
    padding: 15px;
}

.watchlist{
    background-color: blue;
    padding: 10px;
    border-radius: 5px;
    color: beige;
}

/* watchlist */
.remove{
    padding-top: 22px;
    margin: auto;
    width: 90px;
}

.add{
    padding-top: 22px;
    margin: auto;
    width: 150px;
    margin-bottom: 0px;
}