body {
    padding: 10px;
}

a:hover{
    background-color: rgb(229, 229, 229);
    color: black;
    text-decoration: none;
}

img{
    height: 400px;
}

.item_container{
    display: flex;
    flex-wrap: wrap;
}

.item_container > div{
    width: 250px ;
    max-width: 275px;
    height: auto;
    border-radius: 15px;
    border: 1px;
    border-style: outset;
    margin: 0px 10px 0px 10px;
    padding: 10px 10px;
}

.item_container > div > a {
    color: black;
}

.index_img{
    height: 150px;
}

#item_img{
    width: 200px;
    margin: auto;
}

.title{
    color: black;
    font-weight: 600;
    font-size: 24px;
    text-align: center;
}

.price{
    background: rgba(217, 217, 217, .4);
    padding: 4px;
    border-radius: 5px;
}

/* ITEM VIEW */

.itm_img{

    float: left;
    padding-right: 25px;
}

.itm_cont{
    height: 400px;
    padding-left: 75px ;

}

.itm_cont > div > div {
    margin: 8px auto;
    padding: 15px;
}

.watchlist{
    background-color: blue;
    padding: 10px;
    border-radius: 5px;
    color: beige;
}