{% extends "auctions/layout.html" %}

{% block body %}
    <h2>Active Listings</h2>
    <div class="item_container" >
        {% for i in items %}
            {% if i.active == True %}
            
            <div>
            <a href="{% url 'item' i.id%}">
                <div class="item_img"><img src="{{i.image}}" height="150px"></div>
                <div class="title">{{i.name}}</div>
                <div>Starting price: <span class="price">{{i.price}}</span></div> 
            </a>
            </div>      
            {% endif %}
        {% endfor %}
    </div>
    
{% endblock %}
