{% extends "auctions/layout.html" %}

{% block body %}
    <h2>Active Listings</h2>
        {% for i in items %}
            {% if i.active == True %}
                <img src="{{i.image}}" height="150px"> <a href="{% url 'item' i.id%}">{{i.name}}</a>, {{i.description}}, {{i.price}}
            {% else %}
                <img src="{{i.image}}" height="150px"> <a href="{% url 'item' i.id%}">{{i.name}}</a>, {{i.description}}, {{i.price}}, SOLD
            {% endif %}
        {% endfor %}
    TODO
{% endblock %}